# Serie 1

## Aufgabe 1.1

### Aufgabe 1.1 a)

In [1]:
from pandas import Series, DataFrame
import pandas as pd

data = pd.read_csv("data/child.csv", sep=",", index_col=0)

### Aufgabe 1.1 b)

In [2]:
# Dimension der Daten.
data.shape

(30, 21)

### Aufgabe 1.1 c)

In [3]:
data.describe()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
count,30.000000,30.000000,30.000000,26.000000,24.000000,30.000000,30.000000,27.000000,30.000000,30.000000,...,29.000000,29.000000,26.000000,29.000000,29.000000,24.000000,24.000000,30.000000,24.000000,25.00000
mean,18.847713,12.372193,2.673333,31.950163,25.217498,496.317000,1.665085,7.377778,6.643333,5.446667,...,93.775862,91.517241,20.134615,24.598966,6.856272,16.512500,15.225000,15.500000,10.979167,27.17200
std,7.597219,5.592696,3.315370,21.132363,7.483096,29.381643,0.067391,6.489656,1.728001,4.506756,...,5.317334,5.909138,6.157983,6.745815,3.204545,4.766852,4.301794,13.967326,5.146462,10.39926
min,3.839462,2.740000,0.400000,10.326503,10.500000,408.670000,1.475432,1.700000,3.900000,2.300000,...,78.000000,74.000000,13.100000,14.840000,1.263026,8.100000,10.000000,3.700000,4.200000,11.70000
25%,16.617877,8.901475,1.000000,17.058130,20.153506,482.750000,1.623048,4.550000,5.150000,3.525000,...,91.000000,88.000000,15.800000,21.170000,5.036520,14.625000,11.350000,7.050000,7.975000,21.40000
50%,21.107187,11.659053,1.500000,21.574977,25.487116,501.335000,1.682739,6.200000,6.750000,4.200000,...,95.800000,94.000000,19.300000,23.150000,6.784772,16.600000,14.550000,10.600000,9.650000,25.60000
75%,22.642722,16.091953,2.200000,44.392351,30.236732,512.835000,1.719012,8.400000,7.500000,5.250000,...,97.800000,96.300000,21.800000,25.750000,8.863713,19.500000,17.925000,17.800000,13.825000,34.90000
max,34.241822,24.590000,13.700000,73.957667,38.712874,552.670000,1.755798,37.700000,11.300000,23.600000,...,99.800000,99.800000,42.100000,50.230000,15.949567,27.100000,24.800000,65.800000,25.300000,57.40000

### Aufgabe 1.1 d)

In [4]:
# index ausgeben
data.index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States'],
      dtype='object')

### Aufgabe 1.1 e)

In [5]:
data.columns

Index(['Average.disposable.income', 'Children.in.poor.homes',
       'Educational.Deprivation', 'Overcrowding',
       'Poor.environmental.conditions', 'Average.mean.literacy.score',
       'Literacy.inequality', 'Youth.NEET.rate', 'Low.birth.weight',
       'Infant.mortality', 'Breastfeeding.rates',
       'Vaccination.rates..pertussis.', 'Vaccination.rates.measles.',
       'Physical.activity', 'Mortality.rates', 'Suicide.rates', 'Smoking',
       'Drunkenness', 'Teenage.births', 'Bullying', 'Liking.school'],
      dtype='object')

In [6]:
data.sort_values(by="Drunkenness", ascending=0).loc[:,"Drunkenness"]

Denmark            24.8
Finland            22.4
United Kingdom     22.1
Poland             19.9
Canada             18.8
Austria            18.6
Hungary            17.7
Czech Republic     16.8
Slovak Republic    16.8
Ireland            16.3
Spain              16.1
Germany            15.1
Norway             14.0
Belgium            13.9
Sweden             13.8
Netherlands        12.1
Luxembourg         11.7
Switzerland        11.4
France             11.2
Portugal           10.9
Iceland            10.5
Greece             10.3
United States      10.2
Italy              10.0
Australia           NaN
Japan               NaN
Korea               NaN
Mexico              NaN
New Zealand         NaN
Turkey              NaN
Name: Drunkenness, dtype: float64

### Aufgabe 1.1 f)

In [7]:
data.nlargest(5,"Drunkenness").sort_values(by="Drunkenness", ascending=0).loc[:,"Drunkenness"]

Denmark           24.8
Finland           22.4
United Kingdom    22.1
Poland            19.9
Canada            18.8
Name: Drunkenness, dtype: float64

In [8]:
data.nsmallest(3,"Infant.mortality").loc[:,"Infant.mortality"]

Iceland       2.3
Sweden        2.4
Luxembourg    2.6
Name: Infant.mortality, dtype: float64

### Aufgabe 1.1 g)

In [9]:
print("Physical.activity mean = %.2f" % data["Physical.activity"].mean())

data.loc[data["Physical.activity"] < data["Physical.activity"].mean(),"Physical.activity"]

Physical.activity mean = 20.13

Austria           19.6
Belgium           19.1
France            13.5
Germany           17.0
Greece            15.5
Hungary           19.5
Italy             15.1
Luxembourg        15.2
Mexico            18.1
Norway            15.6
Poland            17.3
Portugal          14.6
Sweden            16.4
Switzerland       13.1
Turkey            20.0
United Kingdom    18.7
Name: Physical.activity, dtype: float64

## Aufgabe 1.2