# Serie 1

## Aufgabe 1.1

### Aufgabe 1.1 a)

In [1]:
from pandas import Series, DataFrame
import pandas as pd

data = pd.read_csv("data/child.csv", sep=",", index_col=0)

### Aufgabe 1.1 b)

In [2]:
# Dimension der Daten.
data.shape

(30, 21)

### Aufgabe 1.1 c)

In [3]:
data.describe()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
count,30.000000,30.000000,30.000000,26.000000,24.000000,30.000000,30.000000,27.000000,30.000000,30.000000,...,29.000000,29.000000,26.000000,29.000000,29.000000,24.000000,24.000000,30.000000,24.000000,25.00000
mean,18.847713,12.372193,2.673333,31.950163,25.217498,496.317000,1.665085,7.377778,6.643333,5.446667,...,93.775862,91.517241,20.134615,24.598966,6.856272,16.512500,15.225000,15.500000,10.979167,27.17200
std,7.597219,5.592696,3.315370,21.132363,7.483096,29.381643,0.067391,6.489656,1.728001,4.506756,...,5.317334,5.909138,6.157983,6.745815,3.204545,4.766852,4.301794,13.967326,5.146462,10.39926
min,3.839462,2.740000,0.400000,10.326503,10.500000,408.670000,1.475432,1.700000,3.900000,2.300000,...,78.000000,74.000000,13.100000,14.840000,1.263026,8.100000,10.000000,3.700000,4.200000,11.70000
25%,16.617877,8.901475,1.000000,17.058130,20.153506,482.750000,1.623048,4.550000,5.150000,3.525000,...,91.000000,88.000000,15.800000,21.170000,5.036520,14.625000,11.350000,7.050000,7.975000,21.40000
50%,21.107187,11.659053,1.500000,21.574977,25.487116,501.335000,1.682739,6.200000,6.750000,4.200000,...,95.800000,94.000000,19.300000,23.150000,6.784772,16.600000,14.550000,10.600000,9.650000,25.60000
75%,22.642722,16.091953,2.200000,44.392351,30.236732,512.835000,1.719012,8.400000,7.500000,5.250000,...,97.800000,96.300000,21.800000,25.750000,8.863713,19.500000,17.925000,17.800000,13.825000,34.90000
max,34.241822,24.590000,13.700000,73.957667,38.712874,552.670000,1.755798,37.700000,11.300000,23.600000,...,99.800000,99.800000,42.100000,50.230000,15.949567,27.100000,24.800000,65.800000,25.300000,57.40000

### Aufgabe 1.1 d)

In [4]:
# index ausgeben
data.index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States'],
      dtype='object')

### Aufgabe 1.1 e)

In [5]:
data.columns

Index(['Average.disposable.income', 'Children.in.poor.homes',
       'Educational.Deprivation', 'Overcrowding',
       'Poor.environmental.conditions', 'Average.mean.literacy.score',
       'Literacy.inequality', 'Youth.NEET.rate', 'Low.birth.weight',
       'Infant.mortality', 'Breastfeeding.rates',
       'Vaccination.rates..pertussis.', 'Vaccination.rates.measles.',
       'Physical.activity', 'Mortality.rates', 'Suicide.rates', 'Smoking',
       'Drunkenness', 'Teenage.births', 'Bullying', 'Liking.school'],
      dtype='object')

In [6]:
data.sort_values(by="Drunkenness", ascending=0).loc[:,"Drunkenness"]

Denmark            24.8
Finland            22.4
United Kingdom     22.1
Poland             19.9
Canada             18.8
Austria            18.6
Hungary            17.7
Czech Republic     16.8
Slovak Republic    16.8
Ireland            16.3
Spain              16.1
Germany            15.1
Norway             14.0
Belgium            13.9
Sweden             13.8
Netherlands        12.1
Luxembourg         11.7
Switzerland        11.4
France             11.2
Portugal           10.9
Iceland            10.5
Greece             10.3
United States      10.2
Italy              10.0
Australia           NaN
Japan               NaN
Korea               NaN
Mexico              NaN
New Zealand         NaN
Turkey              NaN
Name: Drunkenness, dtype: float64

### Aufgabe 1.1 f)

In [7]:
data.nlargest(5,"Drunkenness").sort_values(by="Drunkenness", ascending=0).loc[:,"Drunkenness"]

Denmark           24.8
Finland           22.4
United Kingdom    22.1
Poland            19.9
Canada            18.8
Name: Drunkenness, dtype: float64

In [8]:
data.nsmallest(3,"Infant.mortality").loc[:,"Infant.mortality"]

Iceland       2.3
Sweden        2.4
Luxembourg    2.6
Name: Infant.mortality, dtype: float64

### Aufgabe 1.1 g)

In [9]:
print("Physical.activity mean = %.2f" % data["Physical.activity"].mean())

data.loc[data["Physical.activity"] < data["Physical.activity"].mean(),"Physical.activity"]

Physical.activity mean = 20.13

Austria           19.6
Belgium           19.1
France            13.5
Germany           17.0
Greece            15.5
Hungary           19.5
Italy             15.1
Luxembourg        15.2
Mexico            18.1
Norway            15.6
Poland            17.3
Portugal          14.6
Sweden            16.4
Switzerland       13.1
Turkey            20.0
United Kingdom    18.7
Name: Physical.activity, dtype: float64

## Aufgabe 1.2

### Aufgabe 1.2 a)

In [10]:
import pandas as pd
from pandas import Series, DataFrame
file = "data/d.fuel.dat"
! ls -l "data/d.fuel.dat"
fuel = pd.read_table(file, sep=",", index_col=0)

-rw-r--r--  1 tluscre1  1437665408  1195 Oct 15 16:09 data/d.fuel.dat

`weight`: Gewicht in Pounds (1 Pound = 0.453 59 kg)

`mpg`: Reichweite in Miles Per Gallon (1 gallon = 3.789 l; 1 mile = 1.6093 km)

`type`: Autotyp

In [11]:
fuel

    weight  mpg     type
X
1     2560   33    Small
2     2345   33    Small
3     1845   37    Small
4     2260   32    Small
5     2440   32    Small
6     2285   26    Small
7     2275   33    Small
8     2350   28    Small
9     2295   25    Small
10    1900   34    Small
11    2390   29    Small
12    2075   35    Small
13    2330   26    Small
14    3320   20   Sporty
15    2885   27   Sporty
16    3310   19   Sporty
17    2695   30   Sporty
18    2170   33   Sporty
19    2710   27   Sporty
20    2775   24   Sporty
21    2840   26   Sporty
22    2485   28   Sporty
23    2670   27  Compact
24    2640   23  Compact
25    2655   26  Compact
26    3065   25  Compact
27    2750   24  Compact
28    2920   26  Compact
29    2780   24  Compact
30    2745   25  Compact
31    3110   21  Compact
32    2920   21  Compact
33    2645   23  Compact
34    2575   24  Compact
35    2935   23  Compact
36    2920   27  Compact
37    2985   23  Compact
38    3265   20   Medium
39    2880   21   Medium
40    2975   22   Medium
41    3450   22   Medium
42    3145   22   Medium
43    3190   22   Medium
44    3610   23   Medium
45    2885   23   Medium
46    3480   21   Medium
47    3200   22   Medium
48    2765   21   Medium
49    3220   21   Medium
50    3480   23   Medium
51    3325   23    Large
52    3855   18    Large
53    3850   20    Large
54    3195   18      Van
55    3735   18      Van
56    3665   18      Van
57    3735   19      Van
58    3415   20      Van
59    3185   20      Van
60    3690   19      Van

### Aufgabe 1.2 b)

In [12]:
fuel.loc[5,:]

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

### Aufgabe 1.2 c)

In [13]:
fuel.head(5)

   weight  mpg   type
X
1    2560   33  Small
2    2345   33  Small
3    1845   37  Small
4    2260   32  Small
5    2440   32  Small

### Aufgabe 1.2 d)

In [14]:
fuel["mpg"].mean()

24.583333333333332

### Aufgabe 1.2 e)

In [15]:
fuel.loc[7:22,"mpg"].mean()

27.75

### Aufgabe 1.2 f)

In [16]:
mileInKm = 1.6093
gallonInLiter = 3.789
t_kml = fuel["mpg"]*mileInKm/gallonInLiter
print(t_kml)

X
1     14.016073
2     14.016073
3     15.714991
4     13.591343
5     13.591343
6     11.042966
7     14.016073
8     11.892425
9     10.618237
10    14.440802
11    12.317155
12    14.865532
13    11.042966
14     8.494590
15    11.467696
16     8.069860
17    12.741884
18    14.016073
19    11.467696
20    10.193508
21    11.042966
22    11.892425
23    11.467696
24     9.768778
25    11.042966
26    10.618237
27    10.193508
28    11.042966
29    10.193508
30    10.618237
31     8.919319
32     8.919319
33     9.768778
34    10.193508
35     9.768778
36    11.467696
37     9.768778
38     8.494590
39     8.919319
40     9.344049
41     9.344049
42     9.344049
43     9.344049
44     9.768778
45     9.768778
46     8.919319
47     9.344049
48     8.919319
49     8.919319
50     9.768778
51     9.768778
52     7.645131
53     8.494590
54     7.645131
55     7.645131
56     7.645131
57     8.069860
58     8.494590
59     8.494590
60     8.069860
Name: mpg, dtype: float64

In [17]:
poundInKg = 0.45359
t_kg = fuel["weight"] * poundInKg
t_kg

X
1     1161.19040
2     1063.66855
3      836.87355
4     1025.11340
5     1106.75960
6     1036.45315
7     1031.91725
8     1065.93650
9     1040.98905
10     861.82100
11    1084.08010
12     941.19925
13    1056.86470
14    1505.91880
15    1308.60715
16    1501.38290
17    1222.42505
18     984.29030
19    1229.22890
20    1258.71225
21    1288.19560
22    1127.17115
23    1211.08530
24    1197.47760
25    1204.28145
26    1390.25335
27    1247.37250
28    1324.48280
29    1260.98020
30    1245.10455
31    1410.66490
32    1324.48280
33    1199.74555
34    1167.99425
35    1331.28665
36    1324.48280
37    1353.96615
38    1480.97135
39    1306.33920
40    1349.43025
41    1564.88550
42    1426.54055
43    1446.95210
44    1637.45990
45    1308.60715
46    1578.49320
47    1451.48800
48    1254.17635
49    1460.55980
50    1578.49320
51    1508.18675
52    1748.58945
53    1746.32150
54    1449.22005
55    1694.15865
56    1662.40735
57    1694.15865
58    1549.00985
59    1444.68415
60    1673.74710
Name: weight, dtype: float64

### Aufgabe 1.2 g)

In [18]:
print("Mittelwert von km/l = %.2f km/l" % t_kml.mean())
print("Mittelwert von Fahrzeuggewichte in kg = %.2f kg" % t_kg.mean())

Mittelwert von km/l = 10.44 km/l
Mittelwert von Fahrzeuggewichte in kg = 1315.79 kg

## Aufgabe 1.3

Daten Import

In [19]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

nutzflaeche = Series([2.1,2.4,2.8,3.1,4.2,4.9,5.1,6.0,6.4,7.3,10.8,12.5,13.0,13.7,14.8,17.6,19.6,23.0,25.0,35.2,39.6])
nutzflaeche.describe()

count    21.000000
mean     12.814286
std      10.679292
min       2.100000
25%       4.900000
50%      10.800000
75%      17.600000
max      39.600000
dtype: float64

### Aufgabe 1.3 a)

In [20]:
nutzflaecheSum = nutzflaeche.sum()
nutzflaecheSumSquared = (nutzflaeche*nutzflaeche).sum()
print("Die Summer der Nutzfläche ist: %.2f \nDie Summe der Nutzfläche quardriert: %.2f" % (nutzflaecheSum, nutzflaecheSumSquared))

Die Summer der Nutzfläche ist: 269.10
Die Summe der Nutzfläche quardriert: 5729.27

### Aufgabe 1.3 b)

In [21]:
# Mittelwert
nutzflaecheMean = nutzflaecheSum/len(nutzflaeche)
## len(xxx) geht auch mit nutzflaeche.size()
print("mean\t%.6f" % nutzflaecheMean)
print("Kontrolle via pandas:\nmean\t%.6f\n" % nutzflaeche.mean())

# Varianz
nutzflaecheVarianz = ((nutzflaeche-nutzflaecheMean)**2).sum() / (nutzflaeche.size-1)
print("Varianz = %.6f" % nutzflaecheVarianz)
print("Kontrolle via pandas:\nvar\t%.6f\n" % nutzflaeche.var())

# Standardabweichung
print("Standardabweichung = %.6f" % np.sqrt(nutzflaecheVarianz))
print("Kontrolle via pandas:\nstd\t%.6f\n" % nutzflaeche.std())

mean	12.814286
Kontrolle via pandas:
mean	12.814286

Varianz = 114.047286
Kontrolle via pandas:
var	114.047286

Standardabweichung = 10.679292
Kontrolle via pandas:
std	10.679292

### Aufgabe 1.3 c)

In [22]:
nutzflaecheSorted = nutzflaeche.sort_values()
k = np.round(0.5 * nutzflaeche.size+0.5)-1
nutzflaecheMedian = (nutzflaecheSorted[k])
print("50%%/median \t%.6f" % nutzflaecheMedian)
print("Kontrolle via pandas:\n50%%/median\t%.6f" % nutzflaeche.median())

50%/median 	10.800000
Kontrolle via pandas:
50%/median	10.800000

### Aufgabe 1.3 d)

In [23]:
print("Mittelwert\t\t%.6f" % nutzflaeche.mean())
print("Standardabweichung\t%.6f" % nutzflaeche.std())
print("Median\t\t\t%.6f" % nutzflaeche.median())
print("75%% Quantil\t\t%.6f" % nutzflaeche.quantile(q=.75,interpolation="midpoint"))

print("\nKontrolle")
nutzflaeche.describe()

Mittelwert		12.814286
Standardabweichung	10.679292
Median			10.800000
75% Quantil		17.600000

Kontrolle

count    21.000000
mean     12.814286
std      10.679292
min       2.100000
25%       4.900000
50%      10.800000
75%      17.600000
max      39.600000
dtype: float64

### Aufgabe 1.3 e)

In [24]:
z = (nutzflaeche-nutzflaeche.mean())/nutzflaeche.std()
np.round(z.mean())

-0.0

In [25]:
z.std()

1.0

## Aufgabe 1.4

### Aufgabe 1.4 a)